<footer class="footer">
  <div class="footer__logo-box">
    <picture class="footer__logo">
      <source
        srcset="
          assets/img/logo-green-small-1x.png 1x,
          assets/img/logo-green-small-2x     2x
        "
        media="(max-width: 37.5em)"
      />
      <img
        srcset="
          assets/img/logo-green-1x.png 1x,
          assets/img/logo-green-2x.png 2x
        "
        alt="full logo"
      />
    </picture>
  </div>
  <div class="row">
    <div class="col-1-of-2">
      <div class="footer__navigation">
        <ul class="footer__list">
          <li class="footer__item">
            <a href="#" class="footer__link">Company</a>
          </li>
          <li class="footer__item">
            <a href="#" class="footer__link">Contact us</a>
          </li>
          <li class="footer__item">
            <a href="#" class="footer__link">Carrers</a>
          </li>
          <li class="footer__item">
            <a href="#" class="footer__link">Privacy policy</a>
          </li>
          <li class="footer__item">
            <a href="#" class="footer__link">Terms</a>
          </li>
        </ul>
      </div>
    </div>
    <div class="col-1-of-2">
      <p class="footer__copyright">
        Build by
        <a href="https://github.com/ilianrusev" class="footer__link"
          >Ilian Rusev</a
        >
        for practicing Advanced CSS and Sass
        <a
          href="https://www.udemy.com/course/advanced-css-and-sass/"
          class="footer__link"
          >Udemy course</a
        >. Copyright &copy; by Ilian Rusev. You are 100% allowed to use this
        webpage for both personal and commercial use, but NOT to claim it as
        your own design. A credit to the original author,
        <strong>JONAS SCHEDTMANN</strong>, is of course highly appreciated!
      </p>
    </div>
  </div>
</footer>
