<section class="section-stories">
  <div class="u-center-text u-margin-bottom-big">
    <h2 class="heading-secondary">We make people genuinely happy</h2>
  </div>

  <div *ngFor="let story of stories; let i = index" class="row">
    <div class="story">
      <figure class="story__shape">
        <img [src]="story.imageUrl" alt="person on a tour" class="story__img" />
        <figcaption class="story__caption">{{ story.fullName }}</figcaption>
      </figure>
      <div class="story__text">
        <h3 class="heading-tertiary u-margin-bottom-small">
          {{ story.title }}
        </h3>
        <p>
          {{ story.description }}
        </p>
      </div>
    </div>
  </div>
</section>
