<form action="#" class="form">
  <div class="form__group">
    <input
      type="text"
      class="form__input"
      placeholder="Full Name"
      id="name"
      required
    />
    <label for="name" class="form__label">Full Name</label>
  </div>

  <div class="form__group">
    <input
      type="text"
      class="form__input"
      placeholder="Email Address"
      id="email"
      required
    />
    <label for="email" class="form__label">Email Address</label>
  </div>
  <div class="u-margin-bottom-medium"></div>
</form>
